/* Feedback Form Container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 0 auto;
  }
  
  /* Form Title */
  .form-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Form Inputs */
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 2px;
  }
  
  /* Form Dropdown */
  .form-dropdown {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  /* Form Textarea */
  .form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 2px;
  }
  
  /* Form Submit Button */
  .form-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  