.timeline {

    position: relative;

    &::before {
        content: '';
        background: #C5CAE9;
        width: 5px;
        height: 95%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}



